{% extends 'user/base.html' %}
{% block title %}
<title>All POST</title>
{% endblock %}

{% block content %}
<h1>Add New POST</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Weight</th>
        <th>price</th>
        <th>Update</th>
        {% for data in products %}
        <tr>
            <td>{{data.id}}</td>
            <td>{{data.name}}</td>
            <td>{{data.weight}}</td>
            <td>{{data.price}}</td>


            <td><a href="{% url 'update_product' data.id %}">Update</a></td>
            </tr>
        {% endfor %}

    </tr>
    </table>
{% endblock %}